<%- include("./../partials/header.ejs") %>

<div class="p-4">
    <div class="mb-14 grid grid-cols-3 gap-4">
        <div class="flex h-24 items-center">
            <p class="font-sans text-5xl font-semibold text-gray-700">
                Reports
            </p>
        </div>
        <div class="h-24"></div>
        <div class="flex h-24 items-center justify-end">
            <a class="my-6 p-1 hover:animate-spin hover:cursor-pointer">
                <img src="/img/reload.png" class="h-6" alt="reload page" />
            </a>
        </div>
    </div>
    <div class="mb-4 grid gap-4 rounded-lg">
        <h2 class="sm:px-4 px-1 font-sans text-xl font-semibold text-gray-600">Pending</h2>
        <div class="grid h-10 sm:grid-cols-6 grid-cols-4 items-center gap-1 text-gray-500 capitalize border-b-2 border-gray-200 pb-6 sm:gap-4">
            <p class="sm:px-4 sm:text-2xl hidden sm:block text-base px-1">#</p>
            <p class="sm:px-4 sm:text-2xl text-base px-1">name</p>
            <p class="sm:px-4 sm:text-2xl text-base px-1">project</p>
            <p class="sm:px-4 sm:text-2xl text-base px-1">due</p>
            <p class="sm:px-4 sm:text-2xl hidden sm:block text-base px-1">turned in</p>
            <p class="sm:px-4 sm:text-2xl text-base px-1">status</p>
        </div>
        <div class="max-h-96 overflow-y-scroll grid gap-4 py-4">
        <% let counter = 0; %>
        <% if (reports.length >= 1) { %>
            <% for (let i = 0; i < reports.length; i++) { %>
                <% if (reports[i].report_marked !== "yes") { %>
                    <% counter++; %>
                    <% if (reports[i].turned_in !== null) { %>
                        <a
                        class="bg-white capitalize text-gray-500 drop-shadow-md hover:cursor-pointer hover:bg-sky-100"
                        href="/report/view/<%= reports[i].project_name %>/<%= reports[i].turned_in %>/<%= reports[i].name %>/<%= reports[i].report_id %>"
                    >
                        <% if (reports[i].report_marked === "yes") { %>
                            <div class="grid h-14 sm:grid-cols-6 grid-cols-4 items-center sm:gap-4 gap-1">
                        <% } else if (reports[i].report_status === "missing") { %>
                            <div class="grid h-14 sm:grid-cols-6 grid-cols-4 items-center sm:gap-4 gap-1 rounded border-l-4 border-red-400">
                        <% } else if (reports[i].report_status === "late") { %>
                            <div class="grid h-14 sm:grid-cols-6 grid-cols-4 items-center sm:gap-4 gap-1 rounded border-l-4 border-yellow-400">
                        <% } else { %>
                            <div class="grid h-14 sm:grid-cols-6 grid-cols-4 items-center sm:gap-4 gap-1 rounded border-l-4 border-green-400">
                        <% }; %>
                                <p class="sm:px-4 sm:text-xl hidden sm:block text-sm px-1"><%= counter %></p>
                                <p class="sm:px-4 sm:text-xl text-sm px-1"><%= reports[i].name %></p>
                                <p class="sm:px-4 sm:text-xl text-sm px-1"><%= reports[i].project_name %></p>
                                <p class="sm:px-4 sm:text-xl text-sm px-1"><%= reports[i].report_date %></p>
                                <p class="sm:px-4 sm:text-xl hidden sm:block text-sm px-1">
                                    <% if (reports[i].turned_in === null) { %>
                                        ----
                                    <% } else { %>
                                        <%= reports[i].turned_in %>
                                    <% };%>
                                </p>
                                <% if (reports[i].report_marked === "yes") {%> 
                                        read 
                                <% } else if (reports[i].report_status === "missing" || reports[i].turned_in === null) { %>
                                    <% if (reports[i].report_status === "missing") { %>
                                        <p class="sm:px-4 sm:text-xl text-sm px-1 bg-red-300 text-gray-600 w-fit rounded-xl">missing</p>
                                    <% } else {%>
                                        <p class="sm:px-4 sm:text-xl text-sm px-1 bg-lime-300 text-gray-600 w-fit rounded-xl">missing</p>
                                    <% };%>
                                <% } else { %>
                                    <% if (reports[i].report_status === "late") { %>
                                        <p class="sm:px-4 sm:text-xl text-sm px-1 bg-yellow-300 text-gray-600 w-fit rounded-xl">unread</p>
                                    <% } else {%>
                                        <p class="sm:px-4 sm:text-xl text-sm px-1 bg-lime-300 text-gray-600 w-fit rounded-xl">unread</p>
                                    <% };%>
                                <% };%>
                            </div>
                        </a>
                    <% }; %>
                <% } else if (counter < 1 && i !== 0) { %>
                    <div class="my-10 flex h-14 justify-center gap-4 rounded text-gray-500">
                        <p class="sm:px-4 sm:text-xl text-base px-1">There are currently no reports turned in.</p>
                    </div>
                <% }; %>
            <% };%>
        <% } else { %>
            <div class="my-10 flex h-14 justify-center gap-4 rounded text-gray-500">
                <p class="sm:px-4 sm:text-xl text-base px-1">There are currently no reports turned in.</p>
            </div>
        <% }; %>
        </div>
        </div>
        <div class="mb-24 grid gap-4 rounded-lg my-20">
            <h2 class="sm:px-4 px-1 font-sans text-xl font-semibold text-gray-600">Read</h2>
            <div class="grid h-10 sm:grid-cols-6 grid-cols-4 items-center gap-4 text-gray-500 capitalize border-b-2 border-gray-200 pb-6">
                <p class="sm:px-4 sm:text-2xl hidden sm:block text-base px-1">#</p>
                <p class="sm:px-4 sm:text-2xl text-base px-1">name</p>
                <p class="sm:px-4 sm:text-2xl text-base px-1">project</p>
                <p class="sm:px-4 sm:text-2xl text-base px-1">due</p>
                <p class="sm:px-4 sm:text-2xl hidden sm:block text-base px-1">turned in</p>
                <p class="sm:px-4 sm:text-2xl text-base px-1">status</p>
            </div>
            <div class="max-h-96 overflow-y-scroll grid gap-4 py-4">
            <% let done = 0; %>
            <% if (reports.length >= 1 ) { %>
                <% for (let i = 0; i < reports.length; i++) { %>
                    <% if (reports[i].report_marked === "yes") { %>
                        <% done++; %>
                        <a
                        class="bg-white capitalize text-gray-800 opacity-70 rounded hover:cursor-pointer hover:bg-sky-100"
                        href="/report/view/<%= reports[i].project_name %>/<%= reports[i].turned_in %>/<%= reports[i].name %>/<%= reports[i].report_id %>?read=yes"
                    >
                    <% }; %>
                        <% if (reports[i].report_marked === "yes") { %>
                            <div
                                class="grid h-14 sm:grid-cols-6 grid-cols-4 items-center gap-4"
                            >
                                <p class="sm:px-4 sm:text-xl hidden sm:block text-sm px-1"><%= done %></p>
                                <p class="sm:px-4 sm:text-xl text-sm px-1">
                                    <%= reports[i].name %>
                                </p>
                                <p class="sm:px-4 sm:text-xl text-sm px-1">
                                    <%= reports[i].project_name %>
                                </p>
                                <p class="sm:px-4 sm:text-xl text-sm px-1">
                                    <%= reports[i].report_date %>
                                </p>
                                <p class="sm:px-4 sm:text-xl hidden sm:block text-sm px-1">
                                    <% if (reports[i].turned_in === null) { %>
                                        ----
                                    <% } else { %>
                                        <%= reports[i].turned_in %>
                                    <% };%>
                                </p>
                                <p class="sm:px-4 sm:text-xl text-sm px-1">
                                    read
                                </p>
                            </div>
                            <% }; %>
                        </a>
                <% }; %>
            <% }; %>
            </div>
        </div>
    </div>

<%- include("./../partials/footer.ejs") %>
