<%- include("./../partials/header.ejs") %>

<div class="p-4">
    <div class="mb-14 grid gap-4">
        <div class="flex h-24 items-center">
            <p class="font-sans text-5xl font-semibold text-gray-700">
                Project
            </p>
        </div>
    </div>
    <% if (project !== "") { %>
    <div class="mb-4 grid gap-4">
        <div class="flex h-14 justify-center gap-4 text-gray-500">
            <p class="px-4 text-xl">
                The project <%= project %> has been created
            </p>
        </div>
    </div>
    <% }; %>
    <form method="POST" action="/project">
        <div class="mb-6">
            <label
                for="project_name"
                class="mb-2 block text-lg font-medium text-gray-900"
                >Project Name</label
            >
            <input
                type="text"
                id="project_name"
                class="block h-14 w-full rounded border border-gray-300 bg-white p-2.5 text-gray-800 focus:border-blue-500 focus:outline-none"
                placeholder="e.g Aurora"
                name="project_name"
                required
            />
        </div>
        <div class="mb-6 grid gap-6 md:grid-cols-2">
            <div>
                <label
                    for="start_date"
                    class="mb-2 block text-lg font-medium text-gray-900"
                    >Start Date</label
                >
                <input
                    type="date"
                    id="start_date"
                    class="block h-14 w-full rounded border border-gray-300 bg-white p-2.5 text-gray-800 focus:border-blue-500 focus:outline-none"
                    name="start_date"
                    required
                />
            </div>
            <div>
                <label
                    for="end_date"
                    class="mb-2 block text-lg font-medium text-gray-900"
                    >End Date</label
                >
                <input
                    type="date"
                    id="end_date"
                    class="block h-14 w-full rounded border border-gray-300 bg-white p-2.5 text-gray-800 focus:border-blue-500 focus:outline-none"
                    name="end_date"
                    required
                />
            </div>
            <div>
                <label
                    for="report_frequency"
                    class="mb-2 block text-lg font-medium text-gray-900"
                    >Select report frequency</label
                >
                <select
                    id="report_frequency"
                    class="block h-14 w-full rounded border border-gray-300 bg-white p-2.5 text-gray-800 focus:border-blue-500 focus:outline-none"
                    name="report_frequency"
                >
                    <option selected>Choose report frequency</option>
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="fortnightly">Fortnightly</option>
                    <option value="monthly">Monthly</option>
                </select>
            </div>
            <div>
                <label
                    for="first_report"
                    class="mb-2 block text-lg font-medium text-gray-900"
                    >First Report</label
                >
                <input
                    type="date"
                    id="first_report"
                    class="block h-14 w-full rounded border border-gray-300 bg-white p-2.5 text-gray-800 focus:border-blue-500 focus:outline-none"
                    name="first_report"
                    required
                />
            </div>
        </div>
        <p class="mb-2 block text-lg font-medium text-gray-900">Team members</p>
        <div
            id="team_members"
            class="mb-6 grid gap-2 md:grid-cols-2 lg:grid-cols-3"
        >
            <% for (let i = 0; i < team.length; i++) { %>
            <div
                class="flex items-center rounded border border-gray-300 bg-gray-50 pl-4 text-gray-800 hover:bg-sky-100"
            >
                <input
                    id="bordered-checkbox-<%= i %>"
                    type="checkbox"
                    value="<%= team[i].firstname %> <%= team[i].lastname %>"
                    name="team_members"
                    class="h-4 w-4 rounded bg-gray-50"
                />
                <label
                    for="bordered-checkbox-<%= i %>"
                    class="ml-2 w-full py-4 text-sm capitalize text-gray-900 hover:cursor-pointer"
                    ><%= team[i].firstname %> <%= team[i].lastname %></label
                >
            </div>
            <% } %>
        </div>
        <div class="flex justify-center">
            <input
                class="my-6 rounded-lg bg-sky-400 px-12 py-3 font-sans text-lg font-bold text-white transition-colors hover:cursor-pointer hover:bg-sky-500 active:bg-sky-600"
                type="submit"
                name="doit"
                value="Create Project"
            />
        </div>
    </form>
</div>

<%- include("./../partials/footer.ejs") %>
