<%- include("./../partials/header.ejs") %>
<div class="p-4">
    <div class="mb-14 grid gap-4">
        <div class="flex h-24 items-center">
            <p class="font-sans text-5xl font-semibold text-gray-700">
                Uploads
            </p>
        </div>
    </div>
    <div class="mb-4 grid gap-4">
        <form
            class="flex w-full flex-col items-center"
            method="POST"
            enctype="multipart/form-data"
        >
            <label
                for="dropzone-file"
                class="flex h-64 w-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-sky-400 bg-white hover:bg-sky-100"
            >
                <div
                    class="flex flex-col items-center justify-center pb-6 pt-5"
                >
                    <img
                        src="/img/cloud.png"
                        class="mr-3 h-12"
                        alt="upload icon"
                    />
                    <p
                        class="mb-2 font-sans text-lg font-semibold text-gray-500"
                    >
                        Click to upload a CSV file
                    </p>
                </div>
                <input
                    id="dropzone-file"
                    type="file"
                    class="hidden"
                    name="csvFile"
                    accept=".csv"
                    required
                />
            </label>
            <input
                class="my-6 rounded-lg bg-sky-400 px-12 py-3 font-sans text-lg font-bold text-white transition-colors hover:cursor-pointer hover:bg-sky-500 active:bg-sky-600"
                type="submit"
                name="doit"
                value="Upload Users"
            />
        </form>
    </div>
    <% if (upload !== "") { %> <% if (upload === "failed") { %>
    <div id="notification" class="mb-4 gap-4">
        <div
            class="mx-auto grid w-1/4 gap-2 rounded bg-white text-center font-sans text-red-400 drop-shadow"
        >
            <p class="p-4"><%= message %></p>
            <div id="progress-bar" class="h-1 w-full rounded-b bg-gray-200">
                <div
                    class="h-1 rounded-b bg-red-400 transition-colors"
                    style="width: 0%"
                ></div>
            </div>
        </div>
    </div>
    <% } else { %>
    <div class="grid gap-2 md:grid-cols-2 lg:grid-cols-3">
        <% for (let i = 0; i < email.length; i++) { %>
        <div id="notification" class="mb-4 gap-4">
            <div
                class="mx-auto grid w-full gap-2 rounded bg-white text-center font-sans text-gray-900 drop-shadow"
            >
                <div class="grid gap-2 py-4">
                    <p class="px-4 pb-4 text-lg">
                        <%= email[i].firstname %> <%= email[i].lastname %> has
                        been added
                    </p>
                    <p class="px-4">Sent email to: <%= email[i].email %></p>
                </div>
                <div id="progress-bar" class="h-1 w-full rounded-b bg-gray-200">
                    <div
                        class="h-1 rounded-b bg-green-400 transition-colors"
                        style="width: 0%"
                    ></div>
                </div>
            </div>
        </div>
        <% }; %>
    </div>
    <% }; %> <% }; %>
</div>

<script src="/src/functions.js"></script>

<%- include("./../partials/footer.ejs") %>
