<%- include("./../partials/user-header.ejs") %>

<div class="p-4">
    <div class="mb-14 grid grid-cols-3 gap-4">
        <div class="flex h-24 items-center">
            <p class="font-sans text-5xl font-semibold text-gray-700">
                Reports
            </p>
        </div>
        <div class="h-24"></div>
        <div class="flex h-24 items-center justify-end">
            <a class="my-6 p-1 hover:animate-spin hover:cursor-pointer">
                <img src="/img/reload.png" class="h-6" alt="reload page" />
            </a>
        </div>
    </div>
    <div class="mb-4 grid gap-4 rounded-lg">
        <div class="grid h-10 grid-cols-4 items-center gap-4 text-gray-500 capitalize">
            <p class="px-4 text-2xl">#</p>
            <p class="px-4 text-2xl">project</p>
            <p class="px-4 text-2xl">due</p>
            <p class="px-4 text-2xl">status</p>
        </div>
        <% for (let i = 0; i < reports.length; i++) { %>
            <% if (reports[i].report_text !== "nothing added") { %>
                <a class="bg-white capitalize text-gray-800 opacity-70 rounded">
            <% } else { %>
                <a
                class="bg-white capitalize text-gray-500 drop-shadow-md hover:cursor-pointer hover:bg-sky-100"
                href="/report/edit/<%= reports[i].project_name %>/<%= reports[i].report_date %>/<%= reports[i].report_id %>"
            >
            <% }; %>
                <% if (reports[i].report_text !== "nothing added") { %>
                    <div
                        class="grid h-14 grid-cols-4 items-center gap-4"
                    >
                <% } else if (reports[i].report_status === "late") { %>
                    <div
                        class="grid h-14 grid-cols-4 items-center gap-4 rounded border-l-4 border-red-400"
                    >
                <% } else if (reports[i].report_status === "today") { %>
                    <div
                        class="grid h-14 grid-cols-4 items-center gap-4 rounded border-l-4 border-yellow-400"
                    >
                <% } else { %>
                    <div
                        class="grid h-14 grid-cols-4 items-center gap-4 rounded border-l-4 border-green-400"
                    >
                <% }; %>
                        <p class="px-4 text-xl"><%= i+1 %></p>
                        <p class="px-4 text-xl">
                            <%= reports[i].project_name %>
                        </p>
                        <p class="px-4 text-xl">
                            <%= reports[i].report_date %>
                        </p>
                        <p class="px-4 text-xl">
                            <% if (reports[i].report_text === "nothing added") {
                            %> incomplete <% } else { %> done <% }; %>
                        </p>
                    </div>
        <% }; %>
                </a>
        </div>
    </div>

<%- include("./../partials/footer.ejs") %>
